/* .MathJax_Display {
  text-align: center !important;
  display: inline !important;
  font-size: 130%;
}

.MathJax {
  color: green !important;
  padding: 3px 3px !important;
  font-size: 130%;
} */

/* {
  text-transform: none !important;
} */

li a {
  text-decoration: none;
}
