// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 22px;
$line-height-root: 1.2;
$body-font-family: 'Lucida Grande', sans-serif;

:root {
  --mjx-green: #2e7d32;
  padding: 0px;
  margin: 0px;
  /* #2e7d32; /* light-green darken-3 */
  /*  #004b07; /* #33691e;*/
  // line-height: 1.5;
}
.mathjax a {
  text-decoration: none;
}

a:hover {
  color: red;
}

body {
  margin: 0px;
}
.mathjax {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
  line-height: 1.4;
}

* {
  text-transform: none !important;
}

/*'Rock Salt', cursive;*/
/*Lucida Console; /*'Neucha', cursive; SofiaPro, Roboto;*/

// TRANSITIONS-----------------------------------
// .page-enter-active,
// .page-enter-active {
//   transition: all 0.5s;
// }
// .page-enter,
// .page-leave-active {
//   opacity: 0;
//   transform: scale(0.95);
// }

// .page-enter-active,
// .bounce-enter-active {
//   animation: bounce-in 0.8s;
// }

// .page-enter,
// .bounce-leave-active {
//   animation: bounce-out 0.5s;
// }

// @keyframes bounce-in {
//   0% {
//     opacity: 0;
//     transform: scale(0.9);
//   }
//   //   50% {
//   //     transform: scale(1.5);
//   //   }
//   100% {
//     opacity: 1;
//     transform: scale(1);
//   }
// }
// @keyframes bounce-out {
//   0% {
//     opacity: 1;
//     transform: scale(1);
//   }
//   //   50% {
//   //     transform: scale(1.5);
//   //   }
//   100% {
//     opacity: 0;
//     transform: scale(0.9);
//   }
// }

// .slide-left-enter,
// .slide-right-leave-active {
//   opacity: 0;
//   transform: translate(30px, 0);
// }
// .slide-left-leave-active,
// .slide-right-enter {
//   opacity: 0;
//   transform: translate(-30px, 0);
// }

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

// TRANSITIONS-------------------------------
