// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$body-font-family: 'Verdana', sans-serif;
$heading-font-family: 'Verdana', sans-serif;

$font-size-root: 18px; // 20PX --> 18PX SMALL CHANGES
$line-height-root: 1.2; // 1.5--> 1.2

// @import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css? family=Comfortaa&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap'); // $body-font-family: 'Oxygen Mono', monospace;
// $body-font-family: 'Oxygen Mono', monospace;
// $title-font: 'Comfortaa';
// $body-font-family: 'Lucida Grande', sans-serif;
// $font-size-body: 14px;
//$material-dark: (
//'background': #dcdcdc /* #fff */
//);

:root {
  --myGreen: #2e7d32;
  padding: 0px;
  margin: 0px;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0.5rem 1.5rem;
}

.figure {
  // width: 100%;
  min-width: 350px;
  min-height: 400px;
  // height: 100%;
  padding: 0px;
  margin: 0px;
  touch-action: manipulation;
  scroll-behavior: smooth;
  font-size: 0.7rem;
  background-color: inherit;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}

.js-plotly-plot .plotly .modebar {
  position: relative;
  left: 50%;
}

.mathjax {
  //padding-left: 2rem; // CHANGE FROM 2%......
  //padding-right: 2rem;
}

.v-btn {
  text-transform: capitalize !important; // text in vuetify not Capitalize
  // }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 15px; // CHANGE SIZE IN SMALL SCREENS
    // transform: rotate(-90deg);
    // transform-origin: left top;
    // width: 100vh;
    // height: 100vw;  // lock screen orientation in small devices
    // overflow-x: hidden;
    // position: absolute;
    // top: 100%;
    // left: 0;
  }
}

@media only screen and (min-width: 960px) {
  // .figure {
  //   min-width: 450px;
  //   min-height: 500px;
  // }
}

@media only screen and (max-width: 960px) {
  .container {
    padding: 0px;
  }
  // .figure {
  //   width: 70vw;
  //   height: 80vw;
  //   min-width: 300px;
  //   min-height: 340px;
  // }
}

@media only screen and (max-width: 340px) {
  img {
    width: 250px;
    height: 250px;
  }
}

// TRANSITIONS-----------------------------------

// Transitions Layout
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.6s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

//Default Transitions Page

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.6s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// TRANSITIONS-------------------------------
